    .wrap
    {
        margin: 10px;
        background: lightslategray;
        text-align: center;
        padding: 20px 0;
        display: flex;
    }
    .battery
    {
        margin: 20px auto;
        padding: 0; width: 30%;
        border:2px solid black;
        background: #fff;
        border: 1px solid black;
        display: flex;
        flex-direction: row;
    }
    #b11
    {
        background: red;
        width:30%;
        margin: 0; height: 80px;
    }
    #b1
    {
        background: white;
        width:70%;
        margin: 0; height: 80px;
    }
    #b22
    {
        background: yellow;
        width:50%;
        margin: 0;
        height: 80px;
    }
    #b2
    {
        background: white;
        width:50%;
        margin: 0;
        height: 80px;
    }
    #b33
    {
        background: #17ff45;
        width:100%; 
        margin: 0;
        height: 80px;
    }
    #b3
    {
        background: white;
        width:0%; 
        margin: 0;
        height: 80px;
    }